.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.blank {
  color: blue;
}
img {
  width: 690px;
}
body {
  background-color: pink;
  color: rgb(35, 6, 68);
}

.new-page-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid rgb(165, 161, 161); 
}

.new-page-table th,
.new-page-table td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.new-page-table th {
  background-color: #415f74;
  border: 1px solid rgb(10, 131, 71);
  font-weight: bold;
  text-align: left;
}

.new-page-table td {
  border: 1px solid rgb(10, 131, 71);
}